.wrapper {
  margin: 36px 0;
  @include mobile {
    padding: 0;
    margin: 0 0 196px 0;
  }
}

.container {
  background: var(--bg-color);
  padding: 24px;
  margin: 20px 0;
  position: relative;
  @include mobile {
    position: static;
    margin: 22px 0;
    padding: $spacing-4 $spacing-4 40px;
  }
}
