.socialItem {
  padding: 12px 24px;
  color: #ffffff;
  font-weight: 500;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
  border-radius: 2px;
  border: 1px solid var(--Light-04, #89939e);
  background: var(--Dark-01, #04080d);

  :global(.light) & {
    background: #FAFAFF;
    color: #04080D;
  }

  @include mobile {
    width: 100%;
    white-space: nowrap;
    padding: 12px 16px;
  }
}

.socialItem:hover {
  background-color: rgba(23, 27, 33, 1);

  :global(.light) & {
    background-color: #FAFAFF;
  }
}

.icon {
  display: flex;
  align-items: center;
}

.svgIcon {
  fill: var(--icon-color);
  width: 20px;
  height: 20px;
  transition: fill 0.3s ease;
}
