.socialItem {
  padding: 12px 24px;
  color: var(--text-color);
  font-weight: 500;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
  border-radius: 2px;
  border: 1px solid var(--border-color);
  background: var(--bg-pm-color);

  @include mobile {
    width: 100%;
    white-space: nowrap;
    padding: 12px 16px;
  }
}

.socialItem:hover {
  background-color: var(--bg-color3);
}

.icon {
  display: flex;
  align-items: center;
}

.svgIcon {
  fill: var(--icon-color);
  width: 20px;
  height: 20px;
  transition: fill 0.3s ease;
}
