.primary,
.secondary,
.tertiary,
.logout {
  display: flex;
  height: 42px;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #7d54f1;
  border-radius: 2px;
  border: none;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  transition: background-color 300ms;
  white-space: nowrap;
}

//

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.primary:hover:enabled {
  background-color: rgba(94, 40, 246, 1);
}

.primary {
  height: 44px;
  color: #ffffff;
  background-color: #7d54f1;
  min-width: 120px;

  @include mobile {
    width: 100%;
  }
}

.headerContent {
  .primary {
    @include mobile {
      display: none;
    }
  }
}

.secondary {
  height: 44px;
  color: #7d54f1;
  background: transparent;
  align-items: center;
  border-radius: 2px;
  border: 1px solid var(--Main-03, #a687ff);
}

.secondary:hover:enabled {
  background-color: rgba(23, 27, 33, 1);
}

.tertiary {
  border: none;
  color: #7d54f1;
  background: transparent;
}

.standard {
  display: flex;
  height: 52px;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: var(--Dark-02, #0f1217);
  border: 1px solid #2a2f35;
  color: white;
  border-radius: 2px;
  outline: none;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  transition: background-color 300ms;
  white-space: nowrap;
}

.action {
  display: flex;
  min-width: 129px;
  height: 44px;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border: none;
  border-radius: 2px;
  background: #04080d;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  transition: background-color 300ms;

  &:hover {
    background-color: #171b21;
  }
}

.action:hover:disabled {
  background-color: #04080d;
}

.logout {
  height: 44px;
  color: #7d54f1;
  background: transparent;
  border: 1px solid #7d54f1;
}

.grayedOut {
  height: 44px;
  color: #69717b;
  background: transparent;
  align-items: center;
  border-radius: 2px;
  padding: 12px 24px;
  border: 1px solid var(--Main-03, #69717b);
}

.grayedOut:hover:enabled {
  background-color: rgba(23, 27, 33, 1);
}

.buttonWrapper {
  @include mobile {
    button {
      width: 100%;
    }
  }
}