@use "mixins" as mixins;

.primary,
.secondary,
.tertiary,
.logout {
  display: flex;
  height: 42px;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: var(--button-bg-2);
  border-radius: 2px;
  border: none;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  transition: background-color 300ms;
  white-space: nowrap;
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.primary:hover:enabled {
  background-color: rgba(94, 40, 246, 1);
}

.primary {
  height: 44px;
  color: #ffffff;
  background-color: var(--button-bg-2);
  min-width: 120px;

  @include mixins.mobile {
    width: 100%;
  }
}

.headerContent {
  .primary {
    @include mixins.mobile {
      display: none;
    }
  }
}

.secondary {
  height: 44px;
  color: var(--button-bg-2);
  background: transparent;
  align-items: center;
  border-radius: 2px;
  border: 1px solid var(--border-color);

  @include mixins.mobile {
    width: 100%;
  }
}

.secondary:hover:enabled {
  background-color: var(--button-stroke);
}

.tertiary {
  border: none;
  color: var(--button-bg-2);
  background: transparent;
}

.standard {
  display: flex;
  height: 52px;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: var(--bg-color2);
  border: 1px solid var(--border-color);
  color: var(--text-color);
  border-radius: 2px;
  outline: none;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  transition: background-color 300ms;
  white-space: nowrap;
}

.action {
  display: flex;
  min-width: 129px;
  height: 44px;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border: none;
  border-radius: 2px;
  background: var(--bg-pm-color);
  color: var(--text-color);
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  transition: background-color 300ms;

  &:hover {
    background-color: var(--bg-color3);
  }
}

.action:hover:disabled {
  background-color: var(--bg-pm-color);
}

.logout {
  height: 44px;
  color: var(--button-bg-2);
  background: transparent;
  border: 1px solid var(--button-bg-2);
}

.grayedOut {
  height: 44px;
  color: #69717b;
  background: transparent;
  align-items: center;
  border-radius: 2px;
  padding: 12px 24px;
  border: 1px solid var(--border-color);
  background-color: var(--bg-color3);
}

.grayedOut:hover:enabled {
  background-color: var(--bg-color3);
}

.allpurple {
  padding: 12px 24px;
  color: var(--button-bg-2);
  background: transparent;
  border: 1px solid var(--hunter-landing-text-color4);
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;
  &:hover {
    background-color: var(--hunter-landing-bg-color3);
  }
}

.buttonWrapper {
  @include mixins.mobile {
    button {
      width: 100%;
    }
  }
}
