@import '../../styles/mixins.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 343px;
  height: 125px;
  flex-shrink: 0;
  background: var(--Dark-04, #171b21);
  gap: 10px;
}

.text {
  color: var(--Light-02, #e2eaf1);
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
