.loading {
  margin-top: 50px;
  text-align: center;
}

@keyframes loadingDots {
  0%,
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.dot1,
.dot2,
.dot3 {
  display: inline-block;
  margin-left: 1px;
  animation: loadingDots 1.4s infinite;
}

.dot2 {
  animation-delay: 0.2s;
}

.dot3 {
  animation-delay: 0.4s;
}
