.wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 140px;
  @include mobile {
    margin-top: 120px;
  }
}

.titleBox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.sectionName {
  color: var(--switch-border);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.title {
  color: var(--text-color3);
  font-size: 38px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
  @include mobile {
    font-size: 32px;
    font-weight: 400;
  }
}

.subtitle {
  color: var(--text-color3);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}

.cardsWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.slider {
  display: flex;
  overflow-x: auto;
  width: 100%;

  @include custom-scrollbar;
}

.cardsBox {
  display: grid;
  grid-template-columns: repeat(8, minmax(287px, 287px));
  gap: 22px;
  width: 100%;
  align-items: flex-start;
  padding-bottom: 16px;
  @include mobile {
    padding-bottom: 10px;
  }
}

.cardsBox > div:last-child {
  margin-right: 0; /* Remove right margin for the last item */
}
