@use '../styles.module.scss';
@use 'mixins' as mixins;
@import '@/styles/mixins.scss';

.left {
  flex: 0 0 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  @include mixins.mobile {
    max-width: 100%;
    flex-direction: column;
    gap: 24px;
  }
}

.cardHeader {
  font-size: 22px;
  line-height: 28px;
  color: var(--text-color2);
  @include theme-transition;
}

.personalInfo {
  background-color: var(--bg-color3);
  color: var(--text-color3);
  border-radius: 2px;
  padding: 20px;
  display: flex;
  width: 280px;
  align-items: flex-start;
  gap: 20px;
  font-size: 14px;
  @include theme-transition;
  @include mixins.mobile {
    position: static;
    width: auto;
  }
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
  @include mixins.mobile {
    max-width: 100%;
    flex-direction: column;
    gap: 24px;
  }
}

.emailContainer {
  position: relative;
}

.emailContainer:hover .tooltip {
  display: block;
}

.tooltip {
  background-color: var(--bg-color3);
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  gap: 5px;
  color: #d62626;
  font-size: 14px;
  z-index: 1000;
  @include theme-transition;
}

.errorMsg p {
  color: red;
}

.desc {
  color: var(--text-color2);
  font-size: 16px;
  min-height: 414px;
  line-height: 28px;
  padding: 16px 24px 16px 20px;
  background-color: var(--bg-color2);
  @include theme-transition;
  @include mixins.mobile {
    padding: $spacing-5 $spacing-4;
    padding-right: $spacing-6;
  }

  ul {
    list-style-type: disc;
    padding-left: 20px;
  }

  a {
    color: var(--color);
    &:hover {
      color: var(--color);
    }
    @include theme-transition;
  }

  li {
    color: var(--text-color);
    @include theme-transition;
  }

  ol {
    list-style-type: decimal;
    padding-left: 20px;
  }
}

.formLabel {
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  margin-bottom: 10px;
  color: var(--label-color);
  display: flex;
  align-items: center;
  gap: 4px;
  @include theme-transition;
}

.addInfo {
  font-family: var(--font-inter);
  font-weight: 500;
  font-size: 12px;
  color: var(--label-color);
  line-height: 16px;
  margin-top: -14px;
  @include theme-transition;
}
