.profileListCont {
  display: grid;
  grid-template-columns: repeat(3, minmax(280px, 380px));
  gap: 20px;
  margin: 20px 0 100px;
  @include mobile {
    grid-template-columns: repeat(1, minmax(280px, 380px));
  }
}

.noProfiles {
  margin-top: 40px;
}

.profileCards {
  margin-top: 40px;
  width: 100%;
}

.title {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #e2eaf1;
}

.moderationProfiles {
  width: 100%;
  margin-top: 40px;
}
