.wrapper {
  padding: 24px;
}

.header {
  margin-bottom: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* Header 2 */
  color: #e2eaf1;

  h1 {
    font-family: 'IBM Plex Sans';
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 125% */
    margin: 0;
  }

  p {
    color: var(--Light-03, #69717b);

    /* Body 2 */
    text-transform: uppercase;
    font-family: 'IBM Plex Sans';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
  }
}
