@import '../../../../app/my-profile/create/page.module.scss';

.container {
  background: #04080d;
  padding: 100px;
  display: flex;
  width: 100%;
  @include mobile {
    max-width: 100%;
    flex-direction: column;
    padding: 40px 16px 60px 16px;
    gap: 20px;
  }
}

.left {
  flex: 0 0 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  @include mobile {
    max-width: 100%;
    flex-direction: column;
    gap: 24px;
  }
}

.personalInfo {
  background-color: rgba(15, 18, 23, 1);
  color: #69717b;
  border-radius: 2px;
  padding: 20px;
  display: flex;
  width: 280px;
  align-items: flex-start;
  gap: 20px;
  font-size: 14px;
  @include mobile {
    position: static;
    width: auto;
  }
}

.right {
  flex: 0 0 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
  @include mobile {
    max-width: 100%;
    flex-direction: column;
    gap: 24px;
  }
}

.emailContainer {
  position: relative;
}

.emailContainer:hover .tooltip {
  display: block;
}

.tooltip {
  background-color: rgba(15, 18, 23, 1);
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  gap: 5px;
  color: #d62626;
  font-size: 14px;
  z-index: 1000;
}

.lettersCountParent {
  position: relative;
}

.lettersCount {
  position: absolute;
  right: 0;
  bottom: -20px;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  color: #89939e;
}

.errorMsg p {
  color: red;
}
