.featuresBtn {
  width: 142px;
  height: 44px;
  background: #0f1217;
  border: 1px solid #3d434b;
  border-radius: 2px;
  padding: 12px 20px 12px 24px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #e2eaf1;
  cursor: pointer;
}
