.logo {
  width: 187px;
  height: 26px;
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;

  @include mobile {
    // width: 44px;
    margin-bottom: 4px;
  }
}

.title {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: var(--text-color);
  letter-spacing: -0.06em;
  display: flex;
  justify-content: center;
  align-items: center;
  @include mobile {
    // letter-spacing: -1.08px;
    // display: none;
  }
}
