.socialItem {
  padding: 12px 24px;
  color: #ffffff;
  font-weight: 500;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
  border-radius: 2px;
  border: 1px solid var(--Light-04, #89939E);
  background: var(--Dark-01, #04080D);
  @include mobile {
    width: 100%;
    white-space: nowrap;
    padding: 12px 16px;
    // justify-content: center;
  }
}

.socialItem:hover {
  background-color: rgba(23, 27, 33, 1);
}