.buttonPrimary,
.buttonSecondary {
  display: flex;
  height: 42px;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #7d54f1;
  border-radius: 2px;
  border: none;
  outline: none;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  @include mobile {
    width: 100%;
    padding: 12px 0;
    white-space: nowrap;
  }
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.buttonPrimary {
  height: 44px;
  color: #ffffff;
  background: #7d54f1;
  min-width: 120px;
}

.buttonSecondary {
  height: 44px;
  color: #7d54f1;
  background: transparent;
}

.buttonTertiary {
  display: none;
  @include mobile {
    display: block;
    position: static;
    height: 42px;
    width: auto;
    margin-right: 30px;
    border-radius: 2px;
    border: none;
    outline: none;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: #7d54f1;
    background: transparent;
    white-space: nowrap;
  }
}

.buttonAction {
  display: flex;
  width: 129px;
  height: 44px;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border: none;
  border-radius: 2px;
  background: #04080d;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}
