.primary,
.secondary,
.logout {
  display: flex;
  height: 42px;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #7d54f1;
  border-radius: 2px;
  border: none;
  outline: none;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  transition: background-color 300ms;
  white-space: nowrap;
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.primary:hover:enabled {
  background-color: rgba(94, 40, 246, 1);
}

.primary {
  height: 44px;
  color: #ffffff;
  background-color: #7d54f1;
  min-width: 120px;
}
.headerContent {
  .primary {
    @include mobile {
      display: none;
    }
  }
}

.secondary {
  height: 44px;
  color: #7d54f1;
  background: transparent;
  align-items: center;
}

.secondary:hover:enabled {
  background-color: rgba(23, 27, 33, 1);
}

.tertiary {
  display: none;
  transition: background-color 300ms;
  @include mobile {
    display: block;
    position: static;
    height: 42px;
    width: auto;
    margin-right: 30px;
    border-radius: 2px;
    border: none;
    outline: none;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: #7d54f1;
    background: transparent;
    white-space: nowrap;
  }
}

.action {
  display: flex;
  min-width: 129px;
  height: 44px;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border: none;
  border-radius: 2px;
  background: #04080d;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  transition: background-color 300ms;

  &:hover {
    background-color: #171b21;
  }
}

.action:hover:disabled {
  background-color: #04080d;
}

.logout {
  height: 44px;
  color: #7d54f1;
  background: transparent;
  border: 1px solid #7d54f1;
}
