@use '../styles.module.scss';
@use 'mixins' as mixins;
@import '@/styles/mixins.scss';

.container {
  background: var(--bg-color2);
  padding: 100px;
  display: flex;
  width: 100%;
  @include theme-transition;
  @include mixins.mobile {
    max-width: 100%;
    flex-direction: column;
    padding: 40px 16px 60px 16px;
    gap: 30px;
  }
}

.left {
  flex: 0 0 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  @include mixins.mobile {
    max-width: 100%;
    flex-direction: column;
  }
}

.cardHeader {
  font-size: 22px;
  line-height: 28px;
  color: var(--text-color2);
  @include theme-transition;
}

.personalInfo {
  background-color: var(--bg-color3);
  color: var(--text-color3);
  border-radius: 2px;
  padding: 20px;
  display: flex;
  width: 280px;
  align-items: flex-start;
  gap: 20px;
  font-size: 14px;
  @include theme-transition;
  @include mixins.mobile {
    position: static;
    width: auto;
  }
}

.right {
  flex: 0 0 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
  @include mixins.mobile {
    position: static;
    max-width: 100%;
    gap: 30px;
  }
}

.lettersCount {
  text-align: right;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  color: var(--label-color);
  padding-right: 110px;
  @include theme-transition;
}

.addInfo {
  font-family: var(--font-inter);
  font-weight: 500;
  font-size: 12px;
  color: var(--label-color);
  line-height: 16px;
  margin-top: -14px;
  @include theme-transition;
}

.employmentType {
  display: flex;
  flex-direction: column;
  gap: 14px;
  font-size: 16px;
  color: var(--text-color2);
  font-weight: 500;
  line-height: 20px;
  @include theme-transition;
  @include mixins.mobile {
    margin-bottom: 60px;
  }
}

.textAreaContainer {
  position: relative;
}

.currencyButtonsContainer {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
