.wrapper {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1000;
    background: rgba(22, 26, 31, 0.9);
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.container {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 484px;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
    background: var(--dark-02, #0f1217);
    box-shadow: 0px 0px 30px 0px rgba(125, 84, 241, 0.15);
    padding: 57px 52px 45px 52px;
    margin-bottom: 100px;

    @include mobile {
        width: 100%;
        top: 0px;
        padding: 55px 21px 55px 21px;
        border-radius: 0;
        box-shadow: none;
        margin-bottom: 0;
        min-height: 100vh;
    }
}