.markdownReader {
  color: var(--text-color);
  font-size: 16px;
  line-height: 28px;
  padding: 40px;
  background-color: #0f1217;
  @include mobile {
    padding: $spacing-5 $spacing-4;
    padding-right: $spacing-6;
  }

  :global(.light) & {
    background-color: #fafaff;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 1.414em 0 0.5em;
    line-height: 1.2;
  }

  h1 {
    margin-top: 0;
  }

  p,
  a,
  li {
    margin: 0 0 1.5em;
    line-height: 1.6;
  }

  ul,
  ol {
    margin: 1em 0 1em 2em;
  }

  ul {
    list-style-type: disc;
  }

  ol {
    list-style-type: decimal;
  }

  li {
    margin: 0.5em 0;
  }

  a:hover {
    text-decoration: underline;
  }

  blockquote {
    margin: 1.5em 0;
    padding: 0 1.5em;
    border-left: 2px solid #ddd;
  }

  code {
    padding: 0.2em 0.5em;
    margin: 0 0.2em;
    line-height: 1.6;
  }

  pre > code {
    display: block;
    padding: 1em 1.5em;
    white-space: pre;
  }

  a {
    color: #a687ff;
    &:hover {
      color: #a687ff;
    }
  }
}
