.wrapper {
  // position: relative;
  width: 100%;
  max-width: 1440px;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;

  @media (min-width: 768px) {
    padding: 4rem 2rem;
  }
}

.backgroundIcons {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  z-index: 1;
  
  @media (max-width: 767px) {
    display: none;
  }
}

.icon {
  position: absolute;
  transition: all 0.3s ease;
}

.gradientOuter {
  width: 139.771px;
  height: 124.477px;
  flex-shrink: 0;
  border-radius: 24.3px;
  background: #F0F0FF;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gradientInner {
  width: 123.321px;
  height: 109.839px;
  flex-shrink: 0;
  border-radius: 18.984px;
  background: #E4E4F6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.backgroundShadow {
  display: flex;
  width: 107.188px;
  height: 96.361px;
  padding: 4px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  flex-shrink: 0;
  border-radius: 15.188px;
  background: #CFCFF3;
}

.techImage {
  width: 48.272px;
  height: 65.181px;
  flex-shrink: 0;
  aspect-ratio: 48.27/65.18;
  filter: grayscale(0.5);
  opacity: 0.8;
  background-blend-mode: color, normal;
}

.reactIcon {
  top: 338px;
  left: 157px;
  transform: rotate(-15deg);
}

.pythonIcon {
  top: 209px;
  right: 87px;
  left: unset;
  transform: rotate(-15deg);
}

.javaIcon {
  top: 453px;
  right: 143px;
  transform: rotate(10deg);
}

.topSection {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  text-align: center;
  gap: 24px;
}

.titleSection {
  max-width: 886px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.specialistsCount {
  color: var(--hunter-landing-text-color2);
  font-size: 14px;
}

.title {
  color: var(--hunter-landing-text-color);
  font-size: 58px;
  line-height: 56px;
  font-weight: 700;
  // font-family: "Geist";

  @media (min-width: 768px) {
    font-size: 3.5rem;
  }
}

.subtitle {
  color: var(--hunter-landing-text-color2);
  text-align: center;
  font-family: 'IBM Plex Sans';
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 30px */
  letter-spacing: -0.4px;

  max-width: 577.507px;
  transform: rotate(0.135deg);
}
