.loaderWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@keyframes loadingDots {
  0%,
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.dot1,
.dot2,
.dot3 {
  display: inline-block;
  margin-left: 1px;
  animation: loadingDots 1.4s infinite;
}

.dot2 {
  animation-delay: 0.2s;
}

.dot3 {
  animation-delay: 0.4s;
}

//hunter
.hunterLoaderWrapper {
  background-color: var(--hunter-landing-bg-color);
}

.hunterLoading {
  color: var(--hunter-landing-text-color);
}

.hunterLoading .dot1,
.hunterLoading .dot2,
.hunterLoading .dot3 {
  color: var(--hunter-landing-text-color);
}
