.container {
  width: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;

  @include mobile {
    width: 90%;
    padding: 24px;
  }
}

.headerContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  max-width: 320px;
}

.header {
  color: var(--light-01, #fff);
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
}

.description {
  color: var(--light-01, #fff);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  opacity: 0.8;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  max-width: 320px;

  button {
    width: 100%;
  }
}

.or {
  color: var(--light-01, #fff);
  text-align: left;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  opacity: 0.8;
}

.haventAccountContainer {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;

  @include mobile {
    flex-direction: column;
    gap: 0;
  }
}

.haventAccount {
  color: var(--light-01, #fff);
  font-size: 14px;
  opacity: 0.8;
  white-space: nowrap;
}