.hidden {
  display: none;
}

.container {
  position: relative;
  margin: 30px 0 5px 0;
  display: flex;
  align-items: center;
  button {
    color: #a687ff;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    cursor: pointer;
  }
  label[for='cv-file-input'] {
    cursor: pointer;
  }
  @include mobile {
    flex-direction: column;
    gap: 20px;
  }
}

.errorMessageWrapper {
  display: flex;
  flex-direction: column;
}

.errorMessage {
  display: flex;
  gap: 5px;
  color: var(--error-fill, #d62626);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  background: var(--error-opacity, rgba(214, 38, 38, 0.2));
  padding: 20px 22px;
  margin-bottom: 10px;
}

.contentWrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}

.buttonsWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
}

.containerLabel {
  position: absolute;
  top: -25px;
  left: 0;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  color: #89939e;
}

.choosenFile p {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 10px;

  a {
    text-decoration: none;
    &:hover {
      color: #7d54f1;
    }
  }
}
