.errorMsg input, .errorMsg textarea {
  border: 1px solid #d62626; 
}


.errorMsg p {
  margin-top: 4px;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  color: #d62626;
}
