@import '@/styles/mixins.scss';

.formInput {
  background-color: var(--bg-color);
  border: 1px solid var(--border-color);
  color: var(--text-color);
  border-radius: 2px;
  padding: 16px 24px 16px 20px;
  width: 100%;
  font-size: 14px;
  @include theme-transition;
}

.formInput::placeholder {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: var(--placeholder-color);
  @include theme-transition;
}

.formInput:-webkit-autofill,
.formInput:-webkit-autofill:hover,
.formInput:-webkit-autofill:focus,
.formInput:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px var(--input-bg-color) inset !important;
  box-shadow: 0 0 0 30px var(--input-bg-color) inset !important;
  -webkit-text-fill-color: var(--text-color) !important;
  color: var(--text-color) !important;
  @include theme-transition;
}

.formLabel {
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  color: var(--label-color);
  display: flex;
  align-items: center;
  gap: 4px;
  @include theme-transition;
}

.formItem {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
}

.typed {
  color: var(--text-color);
  border: 1px solid var(--border-color);
  @include theme-transition;
}
