.wrapper {
  position: relative;
  padding: 24px 8% 35px;
  @include mobile {
    padding: 0;
  }
}

.formBox {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.errorMsg input,
.errorMsg textarea {
  border: 1px solid #d62626;
}

.errorMsg p {
  margin-top: 4px;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  color: #d62626;
}

.actionsWrapper {
  display: flex;
  gap: 8px;
  @include mobile {
    flex-direction: column;
  }
}
