.wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  padding-bottom: 110px;
  padding-top: 42px;
  @include mobile {
    overflow: visible;
    flex-direction: column;
    padding: 0 16px;
    width: 100%;
  }
}

.title,
.subtitle {
  display: flex;
  flex-direction: column;
}

.title {
  color: var(--text-color);
  width: 100%;
  min-height: 148px;
  font-size: 78px;
  font-weight: 500;
  line-height: 74px;
  letter-spacing: 0em;
  margin-top: $spacing-3;

  @include mobile {
    font-size: 38px;
    line-height: 44px;
    min-height: 80px;
  }
}

.left {
  width: 50%;
  @include mobile {
    width: 100%;
  }
}

.subtitle {
  flex-direction: column;
  max-width: 535px;
  width: 100%;
  min-height: 60px;
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: -0.02em;
  margin-top: 27px;
  @include mobile {
    min-width: 314px;
    height: 72px;
    font-size: 16px;
    line-height: 24px;
    margin-top: 5%;
    font-weight: 400;
  }
}

.subtitle p::after {
  content: '';
  display: block;
  margin-left: -100%;
}

@media (max-width: 768px) {
  .subtitle p::after {
    display: none;
  }

  .subtitle p {
    position: relative;
  }

  .subtitle p br {
    content: ' ';
    display: none;
  }

  .subtitle p::after {
    content: '';
    display: block;
    margin-left: -100%;
  }

  .subtitle p {
    width: 313px;
  }
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 5%;
  gap: 16px;
  @include mobile {
    //min-width: 321px;
  }
}

.right {
  display: flex;
  position: relative;
  width: 50%;
  height: 100%;
  @include mobile {
    margin: 32px 0 16px;
  }
}

@mixin frame-margins($top, $left, $z-index) {
  margin-top: $top;
  margin-left: $left;
  z-index: $z-index;
}

.frame-common {
  position: absolute;
  max-width: 380px;
  width: 100%;
  min-height: 180px;
  @include mobile {
    width: 500px;
    scale: 0.5;
  }
}

.frame1 {
  @extend .frame-common;
  z-index: 1;
  top: 30px;
  left: 107px;

  @include mobile {
    top: calc(50px + 1%);
    left: calc(10px + 1%);
    transform: scale(1) translate(-31%, -100%);
  }
}

.frame2 {
  @extend .frame-common;
  z-index: 3;
  top: 170px;
  left: 300px;
  @include mobile {
    top: calc(50px + 1%);
    left: auto;
    transform: scale(1) translate(22%, -40%);
  }
}

.frame3 {
  @extend .frame-common;
  z-index: 2;
  top: 250px;
  left: 0;
  @include mobile {
    top: calc(50px + 1%);
    left: calc(10px + 1%);
    transform: scale(1) translate(-60%, 10%);
  }
}

.frame-common:hover {
  box-shadow: 0px 0px 30px 0px rgba(125, 84, 241, 0.15);
}

.container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 16px;
  margin-top: 3%;
  position: relative;
}

.profile {
  width: 78px;
  height: 78px;
  justify-content: flex-start;
}

.data {
  margin-left: 5%;
}
.data p {
  padding-top: 3px;
}

.name {
  color: #ffffff;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  overflow-wrap: break-word;
  width: 200px;
}

.frontend {
  color: #13cbaa;
}

.backend {
  color: #ffb168;
}

.fullstack {
  color: #55b5eb;
}

.location {
  color: #69717b;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

.technology {
  margin-top: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  margin-right: 5%;
}

.technology span {
  min-width: 75px;
  background: #161a1f;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 8px 12px;
  border-radius: 4px;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: -0.24px;
}

.frameWrapper {
  min-width: 280px;
  max-width: 380px;
  width: 100%;
  min-height: 180px;
  background: var(--bg-fh-color);
  border-radius: 4px;
  border: 1px solid var(--border-color);
  transition: box-shadow 300ms;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &:hover {
    box-shadow: 0px 0px 30px 0px rgba(125, 84, 241, 0.15);
  }
}

