.hunter_landing {
  min-height: 100dvh;
  overflow: hidden;
  background-color: var(--hunter-landing-bg-color);
  color: var(--hunter-landing-text-color);
  padding-top: 160px;
  @include mobile {
    padding-top: 160px;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 180px;
}
