@use '../../../../../styles/_index.scss' as styles;

.profileListCont {
  display: grid;
  grid-template-columns: repeat(3, minmax(280px, 380px));
  gap: 20px;
  margin: 20px 0 100px;

  @include styles.mobile {
    grid-template-columns: repeat(1, minmax(280px, 380px));
  }
}

.frameWrapper {
  min-width: 280px;
  max-width: 380px;
  width: 100%;
  min-height: 180px;
  background: var(--bg-color2);
  border-radius: 4px;
  border: 1px solid var(--border-color);
  transition: box-shadow 300ms;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include styles.theme-transition;
}

.frameWrapper:hover {
  box-shadow: 0px 0px 30px 0px rgba(125, 84, 241, 0.15);
}

.detailsWrapper {
  display: flex;
  margin: 0 16px 11px 14px;
  padding-top: 18px;
  border-top: 1px solid var(--border-color);
  overflow-x: hidden;
  @include styles.theme-transition;
}

.noProfiles {
  margin-top: 40px;
  color: var(--text-color);
  @include styles.theme-transition;
}