@import '@/styles/mixins.scss';

.profile {
  padding-top: $spacing-6;
  padding-left: 76px;
  padding-right: 76px;
  padding-bottom: 76px;
  @include mobile {
    padding: 0;
  }
}

.user {
  display: flex;
  margin-bottom: $spacing-5;
  align-items: center;
  gap: 35px;
}

.name {
  color: var(--text-color2);
  font-size: 28px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.56px;
  @include theme-transition;
}

.locationBox {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: $spacing-4;

  @include mobile {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: $spacing-3;
    overflow-x: scroll;
    width: 100%;
    gap: $spacing-4;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      width: 0;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background: transparent;
      border-radius: 0.2rem;
    }
    p {
      white-space: nowrap;
    }
  }
}

.optionBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 16px;
}

.country {
  color: var(--label-color);
  font-size: 16px;
  line-height: 28px;
  display: flex;
  align-items: center;
  gap: 10px;
  @include theme-transition;
}

.location {
  border-radius: 52px;
  display: flex;
  padding: 10px 18px;
  justify-content: center;
  align-items: center;
  gap: $spacing-2;
  font-weight: 500;
  line-height: 16px;
  font-size: 12px;
  color: var(--label-color);
  background-color: var(--bg-color3);
  @include theme-transition;
  @include mobile {
    white-space: nowrap;
  }
}

.addInfoBox {
  display: flex;
  gap: $spacing-5;
  align-items: center;
  @include mobile {
    flex-direction: row;
    align-items: start;
    gap: $spacing-4;
    margin-bottom: $spacing-5;
  }
}

.addInfo {
  display: flex;
  gap: $spacing-5;
  font-size: 16px;
  line-height: 28px;
  color: var(--label-color);
  @include theme-transition;
  @include mobile {
    gap: $spacing-2;
  }
}

.seniority {
  color: var(--success-color);
  font-size: 16px;
  line-height: 28px;
  @include theme-transition;
}

.flag {
  background-color: var(--bg-color3);
  @include theme-transition;
}

.salary {
  margin-top: 10px;

  @include mobile {
    margin-top: 1px;
    margin-bottom: 20px;
    font-weight: bold;
  }
}

.separator {
  color: var(--label-color);
  @include theme-transition;
}

.rejectedStatus {
  display: inline-block;
  display: none;
  padding: 6px 12px;
  color: white;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  margin-left: 12px;
  border: 1px solid var(--hunter-landing-text-color4);
}
