@import '../../../../app/(profiles)/my-profile/create/page.module.scss';

.container {
  background: #04080d;
  padding: 100px;
  display: flex;
  width: 100%;
  @include mobile {
    max-width: 100%;
    flex-direction: column;
    padding: 40px 16px 60px 16px;
    gap: 30px;
  }
}

.left {
  flex: 0 0 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  @include mobile {
    max-width: 100%;
    flex-direction: column;
  }
}

.personalInfo {
  background-color: rgba(15, 18, 23, 1);
  color: #69717b;
  border-radius: 2px;
  padding: 20px;
  display: flex;
  width: 280px;
  align-items: flex-start;
  gap: 20px;
  font-size: 14px;
  @include mobile {
    position: static;
    width: auto;
  }
}

.right {
  flex: 0 0 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
  @include mobile {
    position: static;
    max-width: 100%;
    gap: 30;
  }
}

.lettersCount {
  text-align: right;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  color: #89939e;
  padding-right: 110px;
}

.addInfo {
  font-family: var(--font-inter);
  font-weight: 500;
  font-size: 12px;
  color: #89939e;
  line-height: 16px;
  margin-top: 20px;
}

.employmentType {
  font-size: 16px;
  color: #e2eaf1;
  font-weight: 500;
  line-height: 20px;
  @include mobile {
    margin-bottom: 60px;
  }
}

.textAreaContainer {
  position: relative;
}
