.wrapper {
  height: 208px;
  padding-left: 20px;
  padding-right: 40px;
  padding-bottom: 20px;
  border-left: 1px solid #a687ff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 24px;
}

.icon {
  width: 34px;
  height: 34px;
  flex-shrink: 0;
}

.title {
  font-family: IBM Plex Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}

.descr {
  font-family: IBM Plex Sans;
  align-self: stretch;
  color: #89939e;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
