.buttonPrimary,
.buttonSecondary {
  color: #ffffff;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 2px;
  flex: none;
  order: 1;
  flex-grow: 0;
  border: none;
  padding-right: 14px;
}

.buttonPrimary {
  width: 166px;
  height: 44px;
  background: #7d54f1;
}

.buttonSecondary {
  width: 105px;
  height: 44px;
  background: #04080D;
}
