.theme {
    transition: all 0.3s ease;
    min-height: 100%; 
    width: 100%;
  }

  .switch {
    display: inline-block;
    width: 50px;
    height: 25px;
    background-color: #ccc;
    border-radius: 25px;
    cursor: pointer;
    position: relative;
    border: none;
    padding: 0;
    
    &[data-dark="true"] {
      background-color: #4caf50;
    }
  }
  
  .slider {
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 2.5px;
    left: 5px;
    transition: transform 0.2s ease;
    
    &.sliderDark {
      transform: translateX(20px);
    }
  }
  