.icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  cursor: pointer;
}

.theme-icon {
  transition: all 0.3s ease;
  
  rect {
    transition: fill 0.3s ease;
  }
  
  path {
    transition: stroke 0.3s ease;
  }
}