@use 'mixins' as mixins;

.wrapper {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  top: $spacing-5;
  width: calc(100% - 48px);
  margin: 0;
  padding: 20px 20px 0 20px;
  @include mixins.mobile {
    position: static;
    width: 100%;
  }
}

.withBackBackButton {
  justify-content: space-between;
  @include mixins.mobile {
    justify-content: left;
  }
}

.actions {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  row-gap: 12px;
  column-gap: 10px;
  @include mixins.mobile {
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
  }
}
.wrap {
  @include mixins.mobile {
    flex-wrap: wrap;
  }
}

.buttonWrapper {
  width: 100%;
  @include mixins.mobile {
    button {
      width: 100%;
    }
  }
}

.socialItemsWrapper {
  flex: 1;
  justify-content: center;
  @include mixins.mobile {
    width: 100%;
  }
}

.hideOnMobile {
  @include mixins.mobile {
    display: none;
  }
}
