@mixin mobile {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1140px) {
    @content;
  }
}

@mixin custom-scrollbar {
  $scrollbarSize: 4px;
  $trackColor: transparent;
  $thumbColor: #555;
  $thumbRadius: calc($scrollbarSize / 2);

  &::-webkit-scrollbar {
    width: $scrollbarSize;
    height: $scrollbarSize;

    &-track {
      background: $trackColor;
    }
    &-thumb {
      background: $thumbColor;
      border-radius: $thumbRadius;
    }
  }
}
