.featuresBtn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 6px;
  width: 100%;
  height: 44px;
  padding: 12px 16px;
  background: #0f1217;
  border: 1px solid #2a2f35;
  border-radius: 2px;
  color: #69717b;
  cursor: pointer;
}

.buttonText {
  color: #69717b;
  font-size: 14px;
  line-height: 20px;
}

.buttonTextChecked {
  color: #a687ff;
  font-size: 16px;
  line-height: 20px;
}

.buttonBox {
  position: relative;
}

.dropdown {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  border-radius: 2px;

  border: 1px solid #2a2f35;
  background-color: #0f1217;
  color: #89939e;
  font-weight: 400;
  font-size: 14px;
  z-index: 1;

  & :hover {
    background-color: #2a2f35;
  }
}

.dropdownInput {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 52px;
  padding-left: 20px;
  font-size: 16px;
  cursor: pointer;

  .dropdownInput input {
    width: 16px;
    height: 16px;
    border: 1px solid #e2eaf1;
    border-radius: 2px;
    background-color: #0f1217;
  }
}

.selected {
  display: flex;
  gap: 20px;
}

.selectedCount {
  color: #a687ff;
}

.hidden {
  display: none;
}

.checkbox:hover {
  border: 1px solid #a687ff;
}

.checked {
  border: 1px solid #a687ff;
}

.checkmark {
  position: absolute;
  top: -40%;
  left: -40%;
  width: 26px;
  height: 26px;
  color: #a687ff;
}

.label {
  margin-bottom: 10px;
  font-size: 12px;
  color: #89939e;
  font-weight: 500;
  line-height: 16px;
}

.errMsg {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 6px;
  width: 100%;
  height: 44px;
  padding: 12px 16px;
  border: 1px solid red;
  background: #0f1217;
  border-radius: 2px;
  color: #69717b;
  cursor: pointer;
}

.errMsgText {
  margin-bottom: 2px;
  margin-top: 4px;
  color: #d62626;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
}

.selectedButtonText {
  color: rgb(226, 234, 241);
}
