.titleBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 22px;
  font-weight: 500;
  line-height: 28px;
}
.errorWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.errorMsg {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(214, 38, 38, 0.2);
  padding: 20px;
  gap: 13px;
  margin-left: 18px;
}

.errorMsg span {
  color: #d62626;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.buttonBox {
  display: flex;
  gap: $spacing-2;
  @include mobile {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    padding: $spacing-4 12%;
    justify-content: center;
    background-color: #04080d;
  }
}