.profileViewsContainer {
  display: inline-block;
  height: 100%;
  margin-left: 15px;
}

.profileViews {
  margin-top: 5px;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-style: normal;
  text-align: center;
  font-family: "IBM Plex Sans", sans-serif;
  gap: 3px;
  font-weight: 400;
  color: var(--Light-03, #69717b);
}

.profileViews > span {
  color: var(--Main-03, #a687ff);
  margin-left: 3px;
}
