@import '../../../styles/mixins.scss';
@import '../../../styles/tokens.scss';
.titleBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include mobile {
    padding: $spacing-4;
    padding-top: $spacing-6;
  }
}

.buttonBox {
  display: flex;
  gap: $spacing-2;
  @include mobile {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: $spacing-4 12%;
    justify-content: center;
    background-color: #04080d;
  }
}

.title {
  font-size: 22px;
  font-weight: 500;
  line-height: 28px;
}
