.mainContainer {
  background: var(--bg-color);
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 23px;

  @include mobile {
    gap: 8px;
  }
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
  padding-bottom: 10px;

  @include mobile {
    overflow-x: auto;
    white-space: nowrap;

    @include custom-scrollbar;
  }
}

.features {
  display: flex;
  gap: 11px;
}

.tabs {
  display: flex;
  gap: 8px;
  align-items: center;
  width: 100%;
  overflow-y: auto;
  padding-bottom: 10px;

  @include custom-scrollbar;
}
