.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
    width: 100%;
}

.logo {
    svg {
        height: 32px;
        width: auto;
    }
}

.actions {
    display: flex;
    gap: 16px;
    align-items: center;
}