@import '../../../../app/(profiles)/my-profile/create/page.module.scss';

.container {
  margin-top: 20px;
  background: #04080d;
  padding: 100px;
  display: flex;
  gap: 100px;
  width: 100%;
  @media (max-width: 420px) {
    max-width: 100%;
    margin-top: 20px;
    flex-direction: column;
    padding: 0px;
    gap: 20px;
  }
}

.left {
  flex: 0 0 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  @include mobile {
    max-width: 100%;
    flex-direction: column;
  }
}

.personalInfo {
  background-color: #0f1217;
  border: 1px solid #2a2f35;
  color: #69717b;
  border-radius: 2px;
  padding: 20px;
  display: flex;
  width: 280px;
  align-items: flex-start;
  gap: 20px;
  font-size: 14px;
  @include mobile {
    position: static;
    width: auto;
  }
}

.right {
  flex: 0 0 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
  @include mobile {
    max-width: 100%;
    flex-direction: column;
  }
}
