button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background: #0f1217;
  font-family: 'IBM plex sans', sans-serif;
  color: #e2eaf1;
}
/* ------MIXIN------ */
@mixin tele {
  @media (max-width: 420px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1280px) {
    @content;
  }
}
