.hideOnDesktop {
  display: none;
}
.wrapper {
  height: min-content;
  padding: 24px 0;
  width: 100%;
  z-index: 99;
  @include mobile {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
  }
}

.headerContent {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  @include mobile {
    gap: 30px;
  }
}

.logo {
  height: 26px;
  display: flex;
  gap: 8px;
}

.title {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: var(--text-color);
  letter-spacing: -0.06em;
  display: flex;
  justify-content: center;
  align-items: center;
  @include mobile {
    display: none;
  }
}


.frameButtons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: $spacing-3;

  // @include mobile {
  //   display: none;
  // }
}

.buttonBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.mobileButton {
  display: flex;
  gap: $spacing-2;
  @include mobile {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    justify-content: center;
    padding: $spacing-4 12%;
    background-color: #04080d;
    button {
      width: auto;
    }
  }
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  
  ul {
    display: flex;
    align-items: center;
    margin: 0; 
    padding: 0;
    list-style: none; 
  }
}
 

.starsMobile {
  display: flex;

  @include mobile {
    display: flex;
  }
}

.logoAndGhStarsWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 14px;

  > div {
    margin-top: 5px;
  }

  > span:first-of-type {
    margin-top: 4px;
  }
}

.loginBtnsMobile {
  @include mobile {
    display: flex;
    align-items: center;
    gap: 8px;
  }
}

.appHeaderLogoAndMenuBtnWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 14px;
}

.hideOnMobile {
  @include mobile {
    display: none;
  }
}
