.main {
    max-width: 1180px;
    margin: 30px 0;
}

.titleBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.saveProfileBtn {
    display: flex;
    height: 42px;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #7D54F1;
    border-radius: 2px;
    border: none;
    outline: none;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    color: #FFFFFF;
}

.formBox {
    display: flex;
    flex-direction: column;
    gap: 20px;
}