.main {
  max-width: 1180px;
  margin: 30px 0;
}

.titleBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.formBox {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
