.overlay {
  position: fixed;
  display: flex;
  justify-content: center;
  left: 0;
  top: 0;
  bottom: auto;
  width: 100vw;
  height: 100vh;
  background-color: rgba(22, 26, 31, 0.7);
  font-family: var(--font-ibm);
  z-index: 10;
}

.modalWrapper {
  position: absolute;
  height: fit-content;
  display: inline-flex;
  top: 153px;
  padding: 124px 89px;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  border-radius: 10px;
  background-color: #0f1217;
  box-shadow: 0px 0px 30px 0px rgba(125, 84, 241, 0.15);

  @include mobile {
    width: calc(100vw - 32px);
    padding: 64px 28px;
  }
}

.container {
  display: flex;
  flex-direction: column;
  gap: $spacing-6;
  width: 389px;
  height: 212px;
  > h4 {
    font-family: var(--font-inter);
    color: #ffffff;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }
}

.actionButtons {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: inherit;
  height: 44px;
  font-size: 14px;
  > * {
    flex-shrink: 0;
    flex-grow: 1;
    height: 100%;
    font-size: 14px;
    font-weight: 500;
  }
}