.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 124px;
  width: 100%;
  background-color: var(--bg-color2);
  @include theme-transition;
  @include mobile {
    height: 75px;
  }
}

.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.desktopLogo {
  @include mobile {
    display: none;
  }
}
.mobileLogo {
  display: none;
  width: 44px;
  height: 26px;
  @include mobile {
    display: block;
  }
}

.actions {
  display: flex;
  gap: 16px;
  align-items: center;

  @include mobile {
    gap: 12px;
  }
}
