.frameWrapper {
  min-width: 280px;
  max-width: 380px;
  width: 100%;
  min-height: 180px;
  background: #0f1217;
  border-radius: 4px;
  border: 1px solid #2a2f35;
  transition: box-shadow 300ms;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.frameWrapper:hover {
  box-shadow: 0px 0px 30px 0px rgba(125, 84, 241, 0.15);
}

.frame {
  width: 100%;
  padding: 36px 16px 27.5px 14px;
  cursor: pointer;
}

.container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 16px;
  min-height: 90px;
}

.profile {
  width: 78px;
  height: 78px;
  justify-content: flex-start;
}

.avatar {
  border-radius: 78px;
  flex-shrink: 0;
  box-shadow: 0px 4px 50px 0px rgba(125, 84, 241, 0.2);
}

.data {
  margin-left: 5%;
}
.data p {
  padding-top: 3px;
}

.nameContainer {
  display: flex;
  gap: 6px;
  align-items: center;
}

.name {
  color: #ffffff;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  overflow-wrap: break-word;
}

.location {
  color: #69717b;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

.technology {
  margin-top: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.technology span {
  background: #161a1f;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 8px 2px;
  border-radius: 4px;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: -0.34px;
  max-width: 95px;
  overflow: hidden;
  -webkit-line-clamp: 1;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
}

.detailsWrapper {
  display: flex;
  margin: 0 16px 0 14px;
  padding-top: 18px;
  border-top: 1px solid #2a2f35;
  overflow-x: hidden;
}

.moderationFrame {
  padding-bottom: 11px;
}

.wordWrap {
  word-wrap: break-word;
}

.rest {
  font-weight: 100;
}

.salary {
  color: var(--Light-01, #fff);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
}

.nameCover {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  display: flex;
  align-items: center;
  gap: 2px;
  color: #ffffff;
}
