@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap');

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-top: 70px;
  @include mobile {
    margin-top: 205px;
  }
}

.titleBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  @include mobile {
    align-items: flex-start;
    margin-top: 10%;
  }
}

.sectionName {
  font-family: var(--font-ibm);
  text-transform: uppercase;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  color: #3d434b;
}

.title {
  font-family: var(--font-ibm);
  font-size: 38px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
  @include mobile {
    font-size: 32px;
  }
}

.steps {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  gap: 20px;
  width: 100%;
  @include mobile {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    width: 100%;
  }
}

.traits {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  gap: 33px;
  margin-top: 5%;
  margin-bottom: 10px;
}

@include mobile {
  .traitsBox {
    display: flex;
    overflow-x: auto;
    width: 100%;

    @include custom-scrollbar;
  }

  .traits > *:last-child {
    margin-right: 0;
  }
}
