.jobCard {
  width: 100%;
  height: 100%;
  background-color: var(--bg-pm-color);
  border-radius: 8px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 580px;
  overflow: hidden;

  @include mobile {
    padding: 16px;
  }
}

.statusBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.status {
  background-color: var(--bg-color5);
  display: flex;
  padding: 8px 14px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  color: var(--color);
  text-align: center;

  /* Caption Mono */
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 15px; /* 125% */
  letter-spacing: -0.24px;
}

.date {
  color: var(--suggestion-text-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}

.jobCardHeader {
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;

  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  --line-height: 28px;
  line-height: var(--line-height);
  max-height: calc(var(--line-height) * 2);
  overflow: hidden;

  @include mobile {
    font-size: 18px;
  }
}

.buttonBox {
  display: flex;
  justify-content: space-between;
}

.submissionsCounter {
  color: var(--text-color);
}
