@use '../../../create/page.module';

.container {
  background: #04080d;
  padding: 100px;
  display: flex;
  width: 100%;
  @include mobile {
    max-width: 100%;
    flex-direction: column;
    padding: 40px 16px 60px 16px;
    gap: 30px;
  }

  :global(.light) & {
    background-color: #fefeff;
  }
}

.left {
  flex: 0 0 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 22px;
  justify-content: center;
  @include mobile {
    max-width: 100%;
    flex-direction: column;
  }
}

.right {
  flex: 0 0 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @include mobile {
    max-width: 100%;
    flex-direction: column;
    gap: 40px;
  }
}

.label {
  font-size: 14px;
  justify-content: baseline;

  :global(.light) & {
    color: #04080d;
  }
}

.link {
  text-decoration: underline;
}
