.formInput {
  background-color: #0f1217;
  border: 1px solid #2a2f35;
  color: rgba(226, 234, 241, 1);
  border-radius: 2px;
  padding: 16px 24px 16px 20px;
  width: 100%;
}

.formInput::placeholder {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: rgba(105, 113, 123, 1);
}

.formLabel {
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  color: #89939e;
  display: flex;
  align-items: center;
  gap: 4px;
}

.formItem {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
}
