.formInput {
  background-color: #0f1217;
  border: 1px solid #2a2f35;
  color: #69717b;
  border-radius: 2px;
  padding: 16px 24px 16px 20px;
  width: 100%;
}

.formInput::placeholder {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: #69717b;
}

.formInput:-webkit-autofill,
.formInput:-webkit-autofill:hover,
.formInput:-webkit-autofill:focus,
.formInput:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #0f1217 inset !important;
    box-shadow: 0 0 0 30px #0f1217 inset !important;
    -webkit-text-fill-color: rgba(226, 234, 241, 1) !important;
    color: rgba(226, 234, 241, 1) !important;
}


.formLabel {
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  color: #89939e;
  display: flex;
  align-items: center;
  gap: 4px;
}

.formItem {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
}

.typed {
  background-color: #0f1217;
  color: rgba(226, 234, 241, 1);
  border: 1px solid #2a2f35;
}