.container {
  max-width: 50vw;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  button {
    padding: 12px 55px;
  }
}

.header {
  color: var(--text-color);
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.text {
  color: var(--text-color);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}
