.bannerWrapper {
  position: fixed;
  bottom: 41px;
  right: 35px;
  z-index: 1000;
  display: flex;
  width: 500px;
  height: 322px;
  padding: 56px;
  flex-direction: column;
  align-items: flex-start;
  gap: 22px;
  flex-shrink: 0;

  border-radius: 9px;
  border: 1px solid #d9dbe9;
  background: rgba(255, 255, 255, 0.96);

  box-shadow: 0px 5px 14px 0px rgba(8, 15, 52, 0.04);
}

.cookieHeader {
  color: #170f49;
  font-size: 27px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}

.cookieInfoText {
  color: #6f6c90;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;

  .cookiePrivacyPolicy {
    color: #4a3aff;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
  }
}

.btnWrapper {
  display: flex;
  align-items: center;
  gap: 16px;

  .acceptBtn {
    display: flex;
    width: 180px;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 2px;
    background: #7d54f1;

    color: #fff;
    text-align: center;

    /* Button */

    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
  }

  .declineBtn {
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 2px;
    border: 1px solid rgba(166, 135, 255, 0.5);

    color: #a687ff;
    text-align: center;

    /* Button */
    
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
  }
}
