.bannerWrapper {
  position: fixed;
  bottom: 41px;
  right: 35px;
  z-index: 1000;
  display: flex;
  width: 500px;
  // height: 322px;
  padding: 56px;
  flex-direction: column;
  align-items: flex-start;
  gap: 22px;
  flex-shrink: 0;

  border-radius: 9px;
  border: 1px solid #d9dbe9;
  background: rgba(255, 255, 255, 0.96);
  box-shadow: 0px 5px 14px 0px rgba(8, 15, 52, 0.04);

  visibility: hidden; // Default state

  &.visible {
    visibility: visible;
  }

  &.hidden {
    visibility: hidden;
  }

  @include mobile {
    display: flex;
    max-width: 343px;
    padding: 36px 34px;
    gap: 22px;
    bottom: 16px;
    left: 50%;
    transform: translateX(-50%);
    align-items: center;
  }
}

.cookieHeader {
  color: #170f49;
  font-size: 27px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}

.cookieInfoText {
  color: #6f6c90;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;

  .cookiePrivacyPolicy {
    color: #4a3aff;

    .link {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.btnWrapper {
  display: flex;
  align-items: center;
  gap: 16px;
  width: 100%;

  @include mobile {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
    button {
      width: 100%;
    }
  }
}
