@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

.buttonPrimary {
  font-family: 'IBM Plex Sans';
  color: #ffffff;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 166px;
  height: 44px;
  padding-right: 14px;
  gap: 10px;
  background: #7d54f1;
  border-radius: 2px;
  flex: none;
  order: 1;
  flex-grow: 0;
}
