.back {
  display: flex;
  padding: 12px 24px;
  color: #a687ff;
  font-weight: 500;
  line-height: 20px;
  font-size: 14px;
  cursor: pointer;
  background: none;
  border-radius: 2px;
  border: 1px solid var(--Main-03, #a687ff);
  @include mobile {
    margin-top: 12px;
    color: #a687ff !important;
    display: flex;
  }
}

.back:hover {
  background-color: var(--button-stroke);
}
