.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  margin-top: 130px;

  @include mobile {
    margin-top: 80px;
    max-width: 375px;
    margin-inline: auto;
  }
}

.heading {
  font-weight: 500;
  letter-spacing: 0em;
  text-align: center;

  span,
  small {
    display: block;
  }

  span {
    margin-bottom: 12px;

    //styleName: Header 1;
    font-size: 38px;
    line-height: 40px;

    @include mobile {
      font-size: 32px;
      font-weight: 400;
    }
  }

  small {
    color: #69717b;

    //styleName: Header 5;
    font-size: 18px;
    line-height: 28px;
  }
}

.talents {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 21px;

  @include mobile {
    row-gap: 8px;
  }
}
