.featuresBtn {
  width: 142px;
  height: 44px;
  background: #0f1217;
  border: 1px solid #2a2f35;
  border-radius: 2px;
  padding: 12px 16px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #e2eaf1;
  justify-content: space-around;
  cursor: pointer;
  gap: 6px;
}

.buttonText {
  color: #e2eaf1;
}

.buttonTextChecked {
  color: #a687ff;
}

.buttonBox {
  position: relative;
}

.dropdown {
  position: absolute;
  width: 210px;
  border: 1px solid #3d434b;
  border-radius: 2px;
  min-height: 40px;
  padding: 0 15px 20px 15px;
  font-weight: 400;
  font-size: 14px;
  z-index: 1000;
  background-color: #0f1217;
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-height: 308px;
  overflow-y: auto;
  @include mobile {
    position: fixed;
    flex-direction: column;
    bottom: 10px;
    left: 0;
    width: 100%;
    height: auto;
    background-color: #04080d;
    transition: transform 0.3s ease-in-out;
    border-left: none;
    border-right: none;
    border-bottom: none;
    overflow-y: auto;
    max-height: 300px;
  }
}
.dropdownHeader {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  @include mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.titleContainer {
  display: none;

  @include mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    color: white;
  }
}

.titleContainerSearch {
  display: none;

  @include mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    color: white;
    margin-top: 40px;
  }
}

.dropdownTitle {
  display: none;
  @include mobile {
    display: block;
    font-size: 16px;
    color: white;
  }
}

.buttonContainerMulti {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  z-index: 1000;
  height: 30px;
  margin-top: 30px;
  @include mobile {
    padding-right: 10px;
    margin-top: 0px;
  }
}

.buttonContainer {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  z-index: 1000;
  height: 30px;
  @include mobile {
    padding-right: 10px;
    bottom: 0;
    position: fixed;
  }
}

.clearButton {
  display: flex;

  justify-content: center;

}

.applyButton {
  display: none;
  @include mobile {
    display: flex;
  }
}

.counter {
margin-left: 3px;
}

.dropdownInput {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  &:first-of-type {
    margin-top: 20px;
    @include mobile {
      margin-top: 0px;
    }
  }
input {
    width: 16px;
    height: 16px;
    border: 1px solid #e2eaf1;
    border-radius: 2px;
    background-color: #0f1217;
  }
}

.selectedCount {
  color: #a687ff;
}

.hidden {
  display: none;
}

.checkbox {
  position: relative;
  width: 16px;
  height: 16px;
  border: 1px solid #e2eaf1;
  border-radius: 2px;
  cursor: pointer;
}

.checkbox:hover {
  border: 1px solid #a687ff;
}

.checked {
  border: 1px solid #a687ff;
}

.checkmark {
  position: absolute;
  top: -40%;
  left: -40%;
  color: #a687ff;
  width: 26px;
  height: 26px;
}

.label {
  font-size: 12px;
  color: #89939e;
  font-weight: 500;
  line-height: 16px;
  margin-bottom: 10px;
}

.overlay {
  display: none;
  @include mobile {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 999;
  }
}

.blurBackground {
  display: none;
  @include mobile {
    display: block;
    filter: blur(5px);
  }
}

