.profileViewsContainer {
  display: inline-block;
  height: 100%;
  margin-left: 10px;
  @include mobile {
    margin: 5px 0;
  }
}

.profileViews {
  height: 25px;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-style: normal;
  text-align: center;
  font-family: 'IBM Plex Sans', sans-serif;
  gap: 3px;
  font-weight: 400;
  color: var(--Light-03, #69717b);
}

.profileViews > span {
  color: var(--Main-03, #a687ff);
}
