@import '../../styles/mixins.scss';
.buttonPrimary,
.buttonSecondary {
  display: flex;
  height: 42px;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #7d54f1;
  border-radius: 2px;
  border: none;
  outline: none;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  @include mobile {
    width: 100%;
    padding: 12px 0;
  }
}

.buttonPrimary {
  height: 44px;
  color: #ffffff;
  background: #7d54f1;
}

.buttonSecondary {
  height: 44px;
  color: #7d54f1;
  background: transparent;
}
