.searchWrapper {
    position: relative;
    display: inline-flex;
    width: 473px;
    height: 44px;
    justify-content: space-between;
    align-items: center;
    gap: 4px;
    flex-shrink: 0;
  }
  
  .searchInput {
    width: 100%;
    border: none;
    border-radius: 2px;
    padding: 12px 24px 12px 20px;
    background-color: #161a1f;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    color: #e2eaf1;
  }
  
  .searchInput::placeholder {
    color: #e2eaf1;
  }
  
  .suggestionsBox {
    position: absolute;
    top: 51px;
    left: 0;
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 340px;
    padding: 8px;
    background-color: #161a1f;
    box-shadow: 0px 25px 50px -12px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    z-index: 10;
  }
  