.container {
  display: flex;
  flex-direction: column;
  gap: 0;

  h4 {
    font-family: var(--font-inter);
    color: #ffffff;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 16px;
  }
}

.formContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 42px;

  .info {
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
  }
}

.btnContainer {
  width: 100%;
  display: inline-flex;
  gap: 16px;
  align-items: center;
  justify-content: center;

  .primaryBtn {
    min-width: 178px;
    display: flex;

    * {
      flex-grow: 1;
    }
  }
}

.subject {
  background-color: #0f1217;
  color: rgba(226, 234, 241, 1);
  border: 1px solid #2a2f35;
}

.label {
  font-size: 14px;
}

.link {
  text-decoration: underline;
}
