.container {
  container-type: inline-size;
  container-name: main-container;

  max-width: 1240px;
  margin: 0 auto;
  padding: 0 12px;
  box-sizing: border-box;
  flex: 1;
  @include mobile {
    padding: 0 16px;
    overflow: hidden;
  }
}
