.wrapper {
  position: relative;
  @media (max-width: 768px) {
    padding: 0;
  }
}

.logOutBtn {
  color: var(--Main-03, #a687ff);
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.disabledOnMobile {
  @include mobile {
    display: none;
  }
}
