.nav {
  display: flex;
  justify-content: space-between;
}

.back {
  padding: 12px 24px;
  color: var(--text-color);
  font-weight: 500;
  line-height: 20px;
  font-size: 14px;
  cursor: pointer;
  @include mobile {
    position: absolute;
    top: 16px;
    right: 0;
  }
}

.profile {
  padding-top: 100px;
  padding-left: 76px;
  padding-right: 76px;
  padding-bottom: 76px;
  @include mobile {
    padding: 0;
  }
}

.user {
  display: flex;
  margin-bottom: 24px;
  align-items: center;
  gap: 35px;
  @include mobile {
    gap: $spacing-5;
    margin-top: 12px;
  }
}

.name {
  color: var(--text-color);
  font-size: 28px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.56px;
  @include mobile {
    line-height: 30px;
    letter-spacing: -0.02em;
  }
}

.avatar {
  border-radius: 50%;
}

.locationBox {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 16px;
  @include mobile {
    margin-bottom: $spacing-3;
    overflow-x: scroll;
    width: 100%;
    gap: $spacing-4;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      width: 0;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background: transparent;
      border-radius: 0.2rem;
    }
    p {
      white-space: nowrap;
    }
  }
}

.country {
  color: #89939e;
  font-size: 16px;
  line-height: 28px;
  display: flex;
  align-items: center;
  gap: 10px;
  white-space: nowrap;
}

.location {
  border-radius: 52px;
  display: flex;
  padding: 10px 18px;
  justify-content: center;
  align-items: center;
  gap: $spacing-2;
  font-weight: 500;
  line-height: 16px;
  font-size: 12px;
  color: #89939e;
  background-color: #0f1217;
  @include mobile {
    white-space: nowrap;
  }
}

.addInfoBox {
  display: flex;
  gap: $spacing-5;
  align-items: center;
  @include mobile {
    flex-direction: column;
    align-items: start;
    gap: $spacing-4;
    margin-bottom: $spacing-5;
  }
}

.addInfo {
  display: flex;
  gap: $spacing-5;
  font-size: 16px;
  line-height: 28px;
  color: #89939e;
}

.seniority {
  color: #13cbaa;
  font-size: 16px;
  line-height: 28px;
}

.flag {
  background-color: #0f1217;
}

.backBtnMobile {
  display: none;

  button {
    margin: 0;
  }

  @include mobile {
    display: block;
  }
}

.salary {
  margin-top: 10px;

  @include mobile {
    margin-top: 1px;
    margin-bottom: 20px;
    font-weight: bold;
  }
}
