.suggestionItem {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px;
  background-color: #0f1217;
  border-radius: 2px;
  transition: background-color 0.3s;
  cursor: pointer;

  &:hover {
    background-color: #04080d;
  }
}

.suggestionImg {
  border-radius: 50%;
  background-color: #fff;
}

.userName {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: #fff;
}

.userEmail {
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  color: #69717b;

  .highlighted {
    color: #fff;
  }
}
