.formTextarea {
    display: flex;
    width: 100%;
    height: 414px;
    align-items: flex-start;
    background-color: #0f1217;
    border: 1px solid #2a2f35;
    color: #69717b;
    border-radius: 2px;
    resize: none;
    padding: 16px 24px 16px 20px;
    font-size: 16px;
  }
  
  .formTextarea::placeholder {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    color: #69717b;
  }
  
  .formLabel {
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    margin-bottom: 4px;
    color: #89939e;
    display: flex;
    align-items: center;
    gap: 4px;
  }
  
  .formItem {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    width: auto;
  }
  
  .typed {
    background-color: #0f1217;
    color: rgba(226, 234, 241, 1);
    border: 1px solid #2a2f35;
  }
  
  .editorWrapper {
    height: 100%;
  }
  
  .mdxEditorCustom {
    //--mdx-ul-color: white;
    background-color: #0f1217;
    border-radius: 3px;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    align-items: flex-start;
    border: 1px solid #2a2f35;
    line-height: 28px;
    color: #69717b;
    resize: none;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin: 1.414em 0 0.5em;
      line-height: 1.2;
    }
  
    h1 {
      margin-top: 0;
    }
  
    p,
    a,
    li {
      margin: 0 0 1.5em;
      line-height: 1.6;
    }
  
    ul,
    ol {
      margin: 1em 0 1em 2em;
    }
  
    ul {
      list-style-type: disc;
    }
  
    ol {
      list-style-type: decimal;
    }
  
    li {
      margin: 0.5em 0;
    }
  
    a:hover {
      text-decoration: underline;
    }
  
    blockquote {
      margin: 1.5em 0;
      padding: 0 1.5em;
      border-left: 2px solid #ddd;
    }
  
    code {
      padding: 0.2em 0.5em;
      margin: 0 0.2em;
      line-height: 1.6;
    }
  
    pre > code {
      display: block;
      padding: 1em 1.5em;
      white-space: pre;
    }
    a {
      color: #a687ff;
      &:hover {
        color: #a687ff;
      }
    }
  
    button {
      background-color: #0f1217;
      cursor: pointer;
      color: #69717b;
      border: none;
    }
  
    div {
      background-color: #0f1217;
      border-radius: 2px;
      color: white;
    }
  
    > *:nth-child(2) {
      width: 100%;
      flex-grow: 1;
    }
  }
  
  .mdxContentEditable {
    height: 100%;
  }
  
  .fallbackTextarea {
    width: 100%;
    min-height: 250px;
    padding: 12px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #fff;
    background-color: #0f1217;
    border: 1px solid #2a2f35;
    border-radius: 4px;
    resize: vertical;
    
    &:focus {
      outline: none;
      border-color: #7d54f1;
      box-shadow: 0 0 0 2px rgba(125, 84, 241, 0.2);
    }
  }
  
  .placeholder {
    display: block;
    width: 100%;
    height: 200px;
    padding: 16px;
    background-color: #0f1217;
    border: 1px solid #2a2f35;
    color: #69717b;
    border-radius: 2px;
    resize: none;
    font-size: 16px;
  }
  