@use '../styles.module.scss';
@use 'mixins' as mixins;
@import '@/styles/mixins.scss';

.container {
  background: var(--bg-color2);
  padding: 100px;
  display: flex;
  width: 100%;
  @include theme-transition;
  @include mixins.mobile {
    max-width: 100%;
    flex-direction: column;
    padding: 40px 16px 60px 16px;
    gap: 30px;
  }
}

.left {
  flex: 0 0 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  @include mixins.mobile {
    max-width: 100%;
    flex-direction: column;
  }
}

.cardHeader {
  font-size: 22px;
  line-height: 28px;
  color: var(--text-color2);
  @include theme-transition;
}

.personalInfo {
  background-color: var(--bg-color3);
  color: var(--text-color3);
  border-radius: 2px;
  padding: 20px;
  display: flex;
  width: 280px;
  align-items: flex-start;
  gap: 20px;
  font-size: 14px;
  @include theme-transition;
  @include mixins.mobile {
    position: static;
    width: auto;
  }
}

.right {
  flex: 0 0 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
  @include mixins.mobile {
    max-width: 100%;
    flex-direction: column;
    gap: 40px;
  }
}

.checkboxContainer {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
