.checkboxLabel {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: #e2eaf1;
  padding-top: 14px;
  cursor: pointer;
}

.hidden {
  display: none;
}

.checkbox {
  position: relative;
  width: 16px;
  height: 16px;
  border: 1px solid #e2eaf1;
  border-radius: 2px;
  cursor: pointer;
}

.checkbox:hover {
  border: 1px solid #a687ff;
}

.checked {
  border: 1px solid #a687ff;
}

.checkmark {
  position: absolute;
  top: -40%;
  left: -40%;
  color: #a687ff;
  width: 26px;
  height: 26px;
}
