.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  margin-top: 130px;

  @include mobile {
    margin-top: 80px;
    max-width: 375px;
    margin-inline: auto;
  }
}

.heading {
  font-weight: 500;
  letter-spacing: 0em;
  text-align: center;

  span,
  small {
    display: block;
  }

  span {
    margin-bottom: 12px;

    //styleName: Header 1;
    font-size: 38px;
    line-height: 40px;

    @include mobile {
      font-size: 32px;
      font-weight: 400;
    }
  }

  small {
    color: #69717b;

    //styleName: Header 5;
    font-size: 18px;
    line-height: 28px;
  }
}

.talents {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;

  @include mobile {
    row-gap: 8px;
  }
}

.frameWrapper {
  min-width: 280px;
  max-width: 380px;
  width: 100%;
  min-height: 180px;
  background: var(--bg-fh-color);
  border-radius: 4px;
  border: 1px solid var(--border-color);
  transition: box-shadow 300ms;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &:hover {
    box-shadow: 0px 0px 30px 0px rgba(125, 84, 241, 0.15);
  }
}
