@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap');

.stepBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding-top: 12%;
  padding-bottom: 12%;
  flex-shrink: 0;
  border-radius: 2px;
  border: 1px solid #3d434b;
  background: #0f1217;
  @include mobile {
    padding-top: 8%;
    padding-bottom: 8%;
  }
}
.title {
  color: #a687ff;
  font-family: IBM Plex Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  @include mobile {
    font-size: 12px;
  }
}
.descr {
  color: #e2eaf1;
  text-align: center;
  font-family: IBM Plex Sans;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  @include mobile {
    font-size: 20px;
    line-height: 28px;
  }
}
