.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin-top: 100px;
    text-align: center;

    h2 {
        font-size: 38px;
        font-weight: 500;
        line-height: 40px;
    }
}

.benefitsGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    width: 100%;

    @include mobile {
        grid-template-columns: 1fr;
    }
}

.benefit {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 32px;
    background: #0f1217;
    border-radius: 4px;
    border: 1px solid #2a2f35;
    transition: box-shadow 300ms;

    &:hover {
        box-shadow: 0px 0px 30px 0px rgba(125, 84, 241, 0.15);
    }

    svg {
        width: 48px;
        height: 48px;
        color: #7d54f1;
    }

    h3 {
        font-size: 24px;
        font-weight: 500;
    }

    p {
        color: #69717b;
        font-size: 16px;
        line-height: 24px;
    }
}