.loginPage {
  display: flex;
  justify-content: space-between;
  gap: 20px;

  margin-block: 33px;

  @include mobile {
    flex-direction: column;
  }

  h2 {
    //styleName: Header 2;
    font-size: 32px;
    font-weight: 400;
    line-height: 40px;

    margin-bottom: 20px;
  }

  p {
    //styleName: Body 2;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;

    margin-bottom: 24px;
  }
}

.btnsContainer {
  max-width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;

  span {
    margin: auto;
  }
}
