.errorMsg input,
.errorMsg button,
.errorMsg textarea {
  border: 1px solid #d62626;
}

.errorMsg p {
  margin-top: 4px;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  color: #d62626;
}

.errorMsg input::placeholder,
.errorMsg textarea::placeholder {
  color: rgba(226, 234, 241, 1);
}
