.titleBox {
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
  background-color: #0f1217;
  z-index: 10;
  @include mobile {
    padding: $spacing-4;
    padding-top: $spacing-6;
  }
}

.buttonBox {
  display: flex;
  align-items: center;
  gap: $spacing-2;
}

.title {
  font-size: 22px;
  font-weight: 500;
  line-height: 28px;
}

.nerdbord {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  color: #a687ff;
  opacity: 0.4;
  text-align: center;
  font-weight: 500;
  line-height: 20px;
  font-size: 14px;
}

.mobileView {
  display: flex;
  gap: 8px;
  @include mobile {
    display: none;
  }
}

.mobileProfilePreview {
  @include mobile {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.toogleMobileView {
  display: none;

  @include mobile {
    display: flex;
  }
}

.conectAndLogOutWrapper {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  display: none;
}
