.profileListCont {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  @include mobile {
    grid-template-columns: repeat(1, 1fr);
    align-items: flex-start;
  }
}

.noProfiles {
  margin-top: 40px;
  text-align: center;
}

.profileCards {
  margin-top: 40px;
  @include mobile {
    width: 100%;
  }
}

.title {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #e2eaf1;
}

.moderationProfiles {
  width: 100%;
}
