.tabsWrapper {
  display: inline-flex;
  align-items: flex-start;
  gap: 24px;
}

.tab {
  display: flex;
  height: 44px;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  color: #89939e;
  background-color: #0f1217;
  border: none;
}

.active {
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
}
