.container {
  background: #04080d;
  padding: $spacing-5;
  margin: 0 0 20px;
  display: flex;
  flex-direction: column;
  @include mobile {
    margin: 0;
    position: static;
    padding: 40px $spacing-4;
    flex-direction: column-reverse;
  }
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;

  @include mobile {
    position: static;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    li {
      max-height: 45px;
    }
    // display: none;
  }
}

.jobDetailsContainerPlusAvatars {
  display: flex;
  flex-direction: row-reverse;
  gap: 0;
  @include mobile {
    flex-direction: column;
    gap: 0px;
  }
}
