.mainContainer {
  background: #0f1217;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8%;
  margin-top: 30px;
  @include mobile {
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }
}

.features {
  display: flex;
  gap: 11px;
}

.devType {
  display: flex;
  gap: 16px;
  @include mobile {
    margin-left: 16px;
  }
}
