.mainContainer {
  background: #0f1217;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 23px;
  @include mobile {
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    gap: 8px;
    align-items: flex-start;
    margin: 16px;
    padding-bottom: 10px;
  }
}

.tabsWrapper {
  display: inline-flex;
  gap: 54px;
}

.features {
  display: flex;
  gap: 11px;
  @include mobile {
    flex-wrap: nowrap;
    align-items: center;
  }
}

.devType {
  display: flex;
  gap: 16px;
  @include mobile {
    align-items: center;
  }
}

.title {
  color: var(--light-03, #69717b);
  font-size: 32px;
  font-weight: 400;
  font-style: normal;
  line-height: 40px;
}
