.mainContainer {
  background: #0f1217;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8%;
  margin-top: 30px;
}

.features {
  display: flex;
  gap: 11px;
}

.devType {
  display: flex;
  gap: 16px;
}

.devType > button {
  background: #0f1217;
  border-radius: 52px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  cursor: pointer;
}

.frontend {
  border: 1px solid rgba(19, 203, 170, 0.2);
  color: #13cbaa;
}

.backend {
  border: 1px solid rgba(255, 177, 104, 0.2);
  color: #ffb168;
}

.fullstack {
  border: 1px solid rgba(85, 181, 235, 0.2);
  color: #55b5eb;
}
