.wrapper {
  height: min-content;
  background: #04080d;
  padding: 24px 0;
  width: 100%;
  z-index: 99;
  @include mobile {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
  }
}

.headerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  @include mobile {
    display: flex;
    // flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
  }
}

.logo {
  width: 187px;
  height: 26px;
  display: flex;
  gap: 8px;
}

.title {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
  letter-spacing: -0.06em;
  display: flex;
  justify-content: center;
  align-items: center;
  @include mobile {
    letter-spacing: -1.08px;
  }
}

.frameButtons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: $spacing-3;

  @include mobile {
    display: none;
  }
}

.buttonBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
  max-width: 420px;
}

.mobileButton {
  display: flex;
  gap: $spacing-2;
  @include mobile {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    justify-content: center;
    padding: $spacing-4 12%;
    background-color: #04080d;
    button {
      width: auto;
    }
  }
}

.starsMobile {
  display: flex;

  @include mobile {
    display: flex;
  }
}

.logoAndGhStarsWrapper {
  display: flex;
  flex-wrap: wrap;
}

.hideOnMobile {
  @include mobile {
    display: none !important;
  }
}

.hideOnDesktop {
  display: none;

  @include mobile {
    display: flex;
    align-items: center;
  }
}

.appHeaderLogoAndMenuBtnWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
