.searchInput {
  background-color: transparent;
  padding: 40px -20px;
  height: 42px;
  position: sticky;
  top: 0px;
  left: 0px;
  border-radius: 0px;
  outline: none;
  border: none;
  border-radius: 2px;
  background-color: var(--bg-color);
  border: 1px solid #2a2f35;
  color: var(--text-color);
  border-radius: 2px;
  padding: 16px 24px 16px 20px;
  width: 100%;
  font-size: 14px;
  z-index: 10;
  @include mobile {
    height: 50px;
    position: fixed;
    top: auto;
    z-index: 5;
  }
  &::placeholder {
    color: var(--text-color);
  }
  &:focus {
    color: var(--text-color);
  }
  :global(.light) & {
    border: 1px solid rgba(228, 228, 246, 1);
  }
}

.noMatchingOptions {
  margin-top: 55px;
  font-size: 12px;
  font-weight: 400;
  color: var(--text-color);
  opacity: 0.5;
  @include mobile {
    margin-top: 5px;
  }
}
