.logout {
  display: flex;
  height: 44px;
  color: #7d54f1;
  background: transparent;
  border: 1px solid #7d54f1;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 2px;
  outline: none;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  transition: background-color 300ms;
  white-space: nowrap;
  @include mobile {
    margin-bottom: 150px;
  }
}
