.titleBox {
  justify-content: space-between;
  align-items: center;
  background-color: #0f1217;
  z-index: 2;
  padding: 25px 0;
  @include mobile {
    padding: 0;
  }
}

.title {
  font-size: 22px;
  font-weight: 500;
  line-height: 28px;
  margin-bottom: 10px;
  @include mobile {
    padding: 32px 0 16px 16px;
  }
}

.description {
  color: #69717b;
  font-size: 14px;
  line-height: 20px;
  max-width: 390px;
}
