body,
button,
input,
textarea,
select {
  font-family: var(--font-ibm), sans-serif;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100%;
  color: #e2eaf1;
  background-color: #0f1217;
}

ul {
  list-style-type: none;
}

/* Ukrywanie ikony dla rozwijanego menu w polach input */
input::-webkit-contacts-auto-fill-button {
  display: none;
}

/* Ukrywanie dla Firefox */
input::-moz-dropdown-button {
  display: none;
}

h2,
h3,
h4,
h5,
h6 {
  background: none;
}

// globals.scss
:root {
  // Domyślne ustawienia dla dark mode
  --bg-color: #121212;
  --text-color: #ffffff;
  --button-bg: #333333;
  --button-text: #ffffff;
  --nav-text: #ffffff;
  --link-color: #ffffff;
}

// Opcjonalnie: light mode
.light {
  --bg-color: #FAFAFF;
  --text-color: #0F1217;
  --button-bg: #f0f0f0;
  --button-text: #000000;
  --nav-text: #000000;
  --link-color: #000000;
}

// Globalne style dla body/html
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

// Opcjonalne style dla elementów, które chcesz od razu stylować globalnymi zmiennymi
a {
  color: var(--link-color);
}

button {
  background-color: var(--button-bg);
  color: var(--button-text);
}