@import '../styles/_index.scss';

body,
button,
input,
textarea,
select {
  font-family: var(--font-ibm), sans-serif;
  @include theme-transition;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
  @include theme-transition;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100%;
  color: var(--text-color2);
  background-color: var(--bg-color);
  @include theme-transition;
}

ul {
  list-style-type: none;
}

/* Hiding dropdown icon in input fields */
input::-webkit-contacts-auto-fill-button {
  display: none;
}

/* Hiding for Firefox */
input::-moz-dropdown-button {
  display: none;
}

h2,
h3,
h4,
h5,
h6 {
  background: none;
  @include theme-transition;
}

:root {
  // Default settings for dark mode
  --bg-color: #121212;
  --bg-color2: #0f1217;
  --bg-color3: #171b21;
  --bg-color4: #0f1217;
  --bg-color5: #161a1f;
  --bg-fh-color: #121212;
  --bg-pm-color: #04080d;
  --text-color: #ffffff;
  --text-color2: #e2eaf1;
  --text-color3: #e2eaf1;
  --button-bg: #333333;
  --button-bg-2: #7d54f1;
  --button-text: #ffffff;
  --button-stroke: #ccccf0;
  --switch-border: #3d434b;
  --color: #a687ff;
  --suggestion-text-color: #89939e;
  --suggestion-bg-color: #171b21;
  --suggestion-bg-hover: #2a2f35;
  --suggestion-match-color: #ffffff;
  --suggestion-rest-color: #89939e;
  --border-color: #2a2f35;
  --checkbox-border: #e2eaf1;

  //hunter landing
  --hunter-landing-bg-color: #fafaff;
  --hunter-landing-bg-color2: #f0f0ff;
  --hunter-landing-bg-color3: #e4e4f6;
  --hunter-element-bg-color: #fff;
  --hunter-landing-text-color: #04080d;
  --hunter-landing-text-color2: #171b21;
  --hunter-landing-text-color3: #69717b;
  --hunter-landing-text-color4: #7d54f1;
  --hunter-landing-button-color: #161a1f;
  --hunter-landing-text-color6: #ffffff;
  --hunter-landing-text-color7: #C3C3E1;
}

// Optional: light mode
.light {
  --bg-color: #fafaff;
  --bg-color2: #fefeff;
  --bg-color3: #fefeff;
  --bg-color4: #fafaff;
  --bg-color5: #e4e4f6;
  --bg-fh-color: #fefeff;
  --bg-pm-color: #fefeff;
  --text-color: #04080d;
  --text-color2: #04080d;
  --text-color3: #3d434b;
  --button-bg: #f0f0f0;
  --button-bg-2: #6039d0;
  --button-text: #000000;
  --button-stroke: #ccccf0;
  --switch-border: #f0f0ff;
  --color: #6039d0;
  --suggestion-text-color: #3d434b;
  --suggestion-bg-color: #f0f0ff;
  --suggestion-bg-hover: #e4e4f6;
  --suggestion-match-color: #04080d;
  --suggestion-rest-color: #3d434b;
  --border-color: #e4e4f6;
  --checkbox-border: #0f1217;
}

// Global styles for body/html
body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

// Optional styles for elements that you want to style with global variables right away
a {
  color: var(--link-color);
}

button {
  background-color: var(--button-bg);
  color: var(--button-text);
}
