body,
button,
input,
textarea,
select {
  font-family: var(--font-ibm), sans-serif;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100%;
  color: var(--text-color2);
  background-color: var(--bg-color);
}

ul {
  list-style-type: none;
}

/* Hiding dropdown icon in input fields */
input::-webkit-contacts-auto-fill-button {
  display: none;
}

/* Hiding for Firefox */
input::-moz-dropdown-button {
  display: none;
}

h2,
h3,
h4,
h5,
h6 {
  background: none;
}


:root {
  // Default settings for dark mode
  --bg-color: #121212;
  --bg-color2: #0F1217;
  --bg-color3: #171b21;
  --bg-color4: #0F1217;
  --bg-color5: #161a1f;
  --bg-fh-color: #121212;
  --bg-pm-color: #04080d;
  --text-color: #ffffff;
  --text-color2: #e2eaf1;
  --text-color3: #e2eaf1;
  --button-bg: #333333;
  --button-bg-2: #7d54f1;
  --button-text: #ffffff;
  --button-stroke: #CCCCF0;
  --switch-border:#3D434B;
  --color: #A687FF;
  --suggestion-text-color: #89939e;
  --suggestion-bg-color: #171b21;
  --suggestion-bg-hover: #2a2f35;
  --suggestion-match-color: #ffffff;
  --suggestion-rest-color: #89939e;
  --border-color: #2a2f35;
  --checkbox-border: #e2eaf1;
}

// Optional: light mode
.light {
  --bg-color: #FAFAFF;
  --bg-color2: #FEFEFF;
  --bg-color3: #FEFEFF;
  --bg-color4: #FAFAFF;
  --bg-color5: #E4E4F6;
  --bg-fh-color: #FEFEFF;
  --bg-pm-color: #FEFEFF;
  --text-color: #04080D;
  --text-color2: #04080D;
  --text-color3: #3D434B;
  --button-bg: #f0f0f0;
  --button-bg-2: #7d54f1;
  --button-text: #000000;
  --button-stroke: #CCCCF0;
  --switch-border: #F0F0FF;
  --color: #04080D;
  --suggestion-text-color: #3D434B;
  --suggestion-bg-color: #F0F0FF;
  --suggestion-bg-hover: #E4E4F6;
  --suggestion-match-color: #04080D;
  --suggestion-rest-color: #3D434B;
  --border-color: #E4E4F6;
  --checkbox-border: #0F1217;
}

// Global styles for body/html
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

// Optional styles for elements that you want to style with global variables right away
a {
  color: var(--link-color);
}

button {
  background-color: var(--button-bg);
  color: var(--button-text);
}

