.wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
  padding: 90px 0;

  .left {
    flex: 2;
  }

  .right {
    flex: 3;
  }

  @include mobile {
    flex-direction: column;
    padding: 0;
  }
}

.left {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  padding-right: 20px;

  .title {
    font-weight: 500;
    font-size: 38px;
    line-height: 40px;
    letter-spacing: 0%;
  }

  .desc {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0%;
  }

  @include mobile {
    padding-right: 0;
  }
}

.right {
  width: 100%;
}

//accordeon
.accordionWrapper {
  width: 100%;
}
.accordion {
  width: 100%;
  margin: 16px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 16px;
  padding-bottom: 0;
  background-color: white;

  @include mobile {
    margin: 0px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.titleWrapper {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0%;
}

.icon {
  font-weight: 400;
  font-size: 25px;
  line-height: 28px;
  margin-bottom: 2px;
  color: var(--hunter-landing-text-color4);
}

.accordionContent {
  margin-top: 12px;
  margin-bottom: 12px;
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 500ms;
}

.answer {
  overflow: hidden;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  color: var(--hunter-landing-text-color2);
}

.isOpen {
  grid-template-rows: 1fr;
  padding-bottom: 16px;
}
