.wrapper {
  padding: $spacing-3 $spacing-5;
  color: #ffffff;
  font-weight: 500;
  line-height: 20px;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  white-space: nowrap;
  transition: background-color 300ms;
  @include mobile {
    padding: 0;
  }
}

.wrapper:hover {
  background-color: rgba(23, 27, 33, 1);
}
