.container {
  width: 100%;
  border: 1px solid var(--border-color);
  background-color: var(--bg-color4);
  margin-top: 10px;
  color: #04080D;
  input {
    border: none;
    outline: none;
  }
  min-height: 200px;
}

.chipsContainer {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--bg-color4);
  padding: 10px;
  justify-content: flex-start;
  align-items: flex-start;
}

.chip {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2px;
  padding: 0 10px;
  height: 36px;
  background-color: var(--bg-color5);
  color: var(--color);
  font-size: 12px;
  gap: 5px;
  border-radius: 5px;
  span {
    cursor: pointer;
    margin-top: 1px;
  }
}

.inputField {
  flex-grow: 1;
  color: var(--text-color);
  font-size: 16px;
  padding: 5px;
  margin: 5px;
  background-color: transparent;
  input {
    border: none;
    outline: none;
  }

}

.sugesstionsWrapper {
  position: relative;
}

.suggestions {
  background: var(--suggestion-bg-color);
  border-radius: 2px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: absolute;
  z-index: 1000;
  top: 40px;
  width: 100%;
}

.suggestionItem {
  color: var(--suggestion-rest-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  padding: 8px 16px;
  cursor: pointer;
  width: 100%;

  &:hover {
    background-color: var(--suggestion-bg-hover);
  }

  .matchText {
    color: var(--suggestion-match-color);
    font-weight: 600;
  }
}

.active {
  border: 1px solid white;
}

.formLabel {
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  color: var(--suggestion-text-color);
  display: flex;
  align-items: center;
  gap: 4px;
}

.error {
  border: 1px solid red;

  :global(.light) & {
    border: 1px solid rgba(214, 38, 38, 1);
  }
}


.errMsgText {
  color: var(--Error-Fill, #d62626);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  margin-bottom: 2px;

  :global(.light) & {
    color: rgba(214, 38, 38, 1);
  }
}
