.back {
  position: relative;
  padding: 12px 24px;
  color: #a687ff;
  font-weight: 500;
  line-height: 20px;
  font-size: 14px;
  cursor: pointer;
  background: none;
  border-radius: 2px;
  border: 1px solid var(--Main-03, #A687FF);
  @include mobile {
    position: fixed;
    top: 2%;
    right: 5%;
    z-index: 10;
  }
}

.back:hover {
  background-color: rgba(23, 27, 33, 1);
}
