.wrapper {
  width: 100%;
  margin-bottom: 32px;

  &:last-child {
    margin-bottom: 0;
  }
}

.titleWrapper {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;

  /* Header 3 */
  font-size: 22px;
  font-weight: 500;
  line-height: 28px; /* 127.273% */
}

.iconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.accordionContent {
  margin-top: 16px;
}
