.githubAccConnected {
  color: #89939e;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

.github {
  display: flex;
  align-items: center;
  gap: 20px;
  @include mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 4px;
  }
}

.githubAcc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 2px;
  gap: 10px;
  background-color: #0f1217;
  padding: 8px 24px 8px 16px;
}

.githubAccImg {
  border-radius: 50%;
}
