.frameWrapper {
  min-width: 280px; // current lowest width
  max-width: 399px; // Set a maximum width for larger screens
  width: 100%; // Take up 100% width of the parent
}

.frame {
  min-height: 180px;
  height: 100%;
  width: 100%;
  background: #0f1217;
  border-radius: 4px;
  border: 1px solid #2a2f35;
  transition: box-shadow 300ms;
  padding: 36px 16px 27.5px 14px;
  cursor: pointer;
}

.frame:hover {
  box-shadow: 0px 0px 30px 0px rgba(125, 84, 241, 0.15);
}

.container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 16px;
}

.profile {
  width: 78px;
  height: 78px;
  justify-content: flex-start;
}

.avatar {
  border-radius: 78px;
  flex-shrink: 0;
  box-shadow: 0px 4px 50px 0px rgba(125, 84, 241, 0.2);
}

.data {
  margin-left: 5%;
}
.data p {
  padding-top: 3px;
}

.name {
  color: #ffffff;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  overflow-wrap: break-word;
}

.frontend {
  color: #13cbaa;
}

.backend {
  color: #ffb168;
}

.fullstack {
  color: #55b5eb;
}

.location {
  color: #69717b;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

.technology {
  margin-top: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.technology span {
  min-width: 75px;
  background: #161a1f;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 8px 12px;
  border-radius: 4px;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: -0.24px;
}

// state status
.detailsWrapper {
  // display: flex;
  // justify-content: center;
  width: 100%;
  // padding-bottom: 11px;
  margin-top: 25px;
  padding-left: 4px;
}

.detailsContent {
  display: inline-flex;
  gap: 11px;
  // width: 346px;
  width: 100%;
  padding-top: 18px;
  border-top: 1px solid #2a2f35;
  overflow-x: hidden;
}

.moderationFrame {
  // position: relative;
  padding-bottom: 11px;
}

// utils
.wordWrap {
  word-wrap: break-word;
}
