.container {
  background: #04080d;
  padding: $spacing-5;
  margin: 0 0 20px;
  display: flex;
  flex-direction: column;
  @include mobile {
    margin: 0;
    position: static;
    padding: 40px $spacing-4;
    flex-direction: column-reverse;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  @include mobile {
    position: absolute;
    top: 17px;
    right: 0;
  }
}

.social {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  @include mobile {
    position: static;
    align-items: center;
    justify-content: center;
  }
}


.copyEmail {
  color: #ffffff;
  font-weight: 500;
  line-height: 20px;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  @include mobile {
    padding: $spacing-3 0;
    a {
      display: flex;
      flex-direction: row;
      gap: 10px;
    }
  }
}

.socialLink {
  display: flex;
  align-items: center;
  gap: 10px;
}

.profile {
  padding-top: $spacing-6;
  padding-left: 76px;
  padding-right: 76px;
  padding-bottom: 76px;
  @include mobile {
    padding: 0;
  }
}

.user {
  display: flex;
  margin-bottom: $spacing-5;
  align-items: center;
  gap: 35px;
}

.name {
  color: #e2eaf1;
  font-size: 28px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.56px;
}

.avatar {
  border-radius: 50%;
}

.locationBox {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: $spacing-4;

  @include mobile {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: $spacing-3;
    overflow-x: scroll;
    width: 100%;
    gap: $spacing-4;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      width: 0;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background: transparent;
      border-radius: 0.2rem;
    }
    p {
      white-space: nowrap;
    }
  }
}

.optionBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 16px;
}

.country {
  color: #89939e;
  font-size: 16px;
  line-height: 28px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.location {
  border-radius: 52px;
  display: flex;
  padding: 10px 18px;
  justify-content: center;
  align-items: center;
  gap: $spacing-2;
  font-weight: 500;
  line-height: 16px;
  font-size: 12px;
  color: #89939e;
  background-color: #0f1217;
  @include mobile {
    white-space: nowrap;
  }
}

.addInfoBox {
  display: flex;
  gap: $spacing-5;
  align-items: center;
  @include mobile {
    flex-direction: column;
    align-items: start;
    gap: $spacing-4;
    margin-bottom: $spacing-5;
  }
}

.addInfo {
  display: flex;
  gap: $spacing-5;
  font-size: 16px;
  line-height: 28px;
  color: #89939e;
}

.seniority {
  color: #13cbaa;
  font-size: 16px;
  line-height: 28px;
}

.flag {
  background-color: #0f1217;
}
