.githubAccConnected {
  color: var(--text-color);
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

.github {
  display: flex;
  align-items: center;
  gap: 16px;
  position: relative;

  @include mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 4px;
  }
}

.inboxButton {
  text-decoration: none;
}

.profileLink {
  text-decoration: none;
}

.githubAcc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 2px;
  gap: 10px;
  background-color: var(--bg-color);
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.2s;

  &:hover {
    background-color: var(--hover-color);
  }
}

.githubAccImg {
  border-radius: 50%;
}

.githubAccName {
  color: var(--text-color);
  font-size: 14px;
  font-weight: 500;
}