.wrapper {
  position: absolute;
  display: flex;
  justify-content: flex-start;
  top: $spacing-5;
  width: calc(100% - 48px);
  margin: 0;
  padding: 0 $spacing-5 0 0;
  @include mobile {
    position: static;
    width: 100%;
  }
}

.withBackBackButton {
  justify-content: left;
}

.actions {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  row-gap: 12px;
  column-gap: 10px;
}

@media (min-width: 768px) {
  .withBackBackButton {
    justify-content: space-between;
  }
}
